<p id="notice"><%= notice %></p>
<h1 align="center"><strong>Welcome</strong></h1>
<br>
<br>
  <p align="center">Welcome to my web application. This application was designed using Ruby on Rails for Dr. Beaty's Web Application Acrchitecture class</p>
